@import "../index.sass"
@import "../mixins/hover-text.sass"
@import "../mixins/animation.sass"
@import "../media.sass"

+keyframes(drawbg)
  from
    opacity: 0
  to
    opacity: 1

.contacts
  position: relative
  padding-top: 60px
  background-image: url('../../assets/images/contacts-bg.png')
  background-repeat: no-repeat
  background-size: 100% auto
  background-position: bottom
  min-height: 100vh
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  &::before
    position: absolute
    content: ''
    width: 100%
    height: 100%
    left: 0
    top: 0
    background-image: url('../../assets/images/contacts-bg2.png')
    background-repeat: no-repeat
    background-size: 100% auto
    background-position: bottom
    animation: .15s ease-in-out drawbg
    animation-iteration-count: infinite
    animation-direction: alternate-reverse
  >*
    font-family: comic sans ms
    font-weight: lighter
    position: relative
  &__title
    @include animated-text(.35s, running)
    text-transform: capitalize
    text-align: center
    margin: 0 auto
    font-size: 60px
    font-family: MyCoolFont3
    padding: 0 1rem 3rem 1rem
  &__content
    display: block
    margin: 0 auto
    text-align: center
    font-size: 25px
    strong
      display: block
      text-transform: capitalize
      padding: 1rem
    span, strong
      font-weight: lighter
      cursor: default
    span
      text-transform: lowercase
      margin-left: 1ch

@include contacts()
