@import "../index.sass"
@import "../mixins/hover-text.sass"

+keyframes(drawbg)
  from
    opacity: 0
  to
    opacity: 1

+keyframes(rotatewind)
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

+keyframes(moveBird)
  0%
    transform: translateX(-50vw)
  100%
    transform: translateX(150vw)

+keyframes(bird1)
  0%
    opacity: 1
  25%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 0

+keyframes(bird2)
  0%, 100%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0

+keyframes(bird3)
  0%, 100%
    opacity: 0
  75%
    opacity: 1
  100%
    opacity: 1

.intro
  position: relative
  width: 100%
  height: 100vh
  background-image: url("../../assets/images/drawbackground1.png")
  background-size: 100% auto
  background-repeat: no-repeat
  background-position: bottom
  overflow: hidden
  >*
    position: relative
    z-index: 10
  &__title
    position: absolute
    right: 10%
    top: 10%
    text-align: center
    h2
      font-size: 65px
      font-family: "MyCoolFont"
      letter-spacing: 5px
      cursor: default
    .description
      position: absolute
    p
      @include animated-text(.35s, running)
      font-size: 35px
      font-family: "MyCoolFont"
      letter-spacing: 3px
      margin: 1rem 0
      cursor: default
  &__instruction
    position: absolute
    left: 50%
    bottom: 2rem
    transform: translateX(-50%)
    strong
      @include animated-text(.35s, running)
      color: black
      transform: translateX(100px)
      cursor: default
      font-size: 20px
  &__animated-block
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-image: url("../../assets/images/drawbackground2.png")
    background-size: 100% auto
    background-repeat: no-repeat
    background-position: bottom
    animation: .15s ease-in-out drawbg
    animation-iteration-count: infinite
    animation-direction: alternate-reverse
    opacity: 0
    z-index: 1
    background-color: #fff
  &__animated-block-2
    position: absolute
    // left: calc(1920px / 100% * 11.2vw)
    // bottom: calc(1920px / 100% * 55.5vh)
    left: 11.2%
    bottom: 25%
    display: block
    // transform: translate(calc(444px), calc(-667px))
    // transform: translate( )
    // transform: translate(-10% -50%)
    width: 486px
    height: 426px
    background-image: url("../../assets/images/wind.png")
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    animation: 25s linear rotatewind
    animation-iteration-count: infinite
    animation-direction: normal
    transform-origin: 50% 57.65% 0
  &__animated-block-3
    position: absolute
    left: 0
    bottom: 65vh
    width: 250px
    height: 100px
    animation: 30s linear moveBird
    animation-iteration-count: infinite
    animation-direction: normal
    .frames-container
      position: relative
      width: 100%
      height: 100%
      >*
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background-repeat: no-repeat
        background-size: contain
        background-position: top left
        animation-direction: alternate-reverse
      .frame-1
        background-image: url("../../assets/images/bird1.png")
        animation: bird1 .35s infinite linear
      .frame-2
        background-image: url("../../assets/images/bird2.png")
        animation: bird2 .35s infinite linear
      .frame-3
        background-image: url("../../assets/images/bird3.png")
        animation: bird3 .35s infinite linear
