@import "../index.sass"
@import "../mixins/hover-text.sass"
@import "../mixins/draw-svg.sass"
@import "../mixins/animation.sass"

+keyframes(showFromLeftTop)
  from
    left: -100vw
    top: -100vh
  to
    left: 1rem
    top: 1rem

+keyframes(showFromRightTop)
  from
    right: -100vw
    top: -100vh
  to
    right: 1rem
    top: 1rem

+keyframes(showFromLeftBottom)
  from
    left: -100vw
    bottom: -100vh
  to
    left: 1rem
    bottom: 1rem

+keyframes(showFromRightBottom)
  from
    right: -100vw
    bottom: -100vh
  to
    right: 1rem
    bottom: 1rem

+keyframes(showFromLeft)
  from
    left: -100vw
  to
    left: 1rem

+keyframes(showFromRight)
  from
    right: -100vw
  to
    right: 1rem

+keyframes(arrow1)
  0%, 100%
    opacity: 1
  50%
    opacity: 1
  51%
    opacity: 0
  100%
    opacity: 0

+keyframes(arrow2)
  0%, 100%
    opacity: 0
  50%
    opacity: 0
  51%
    opacity: 1
  100%
    opacity: 1

.projects
  position: relative
  margin-top: 60px
  &__list
    margin-left: calc(250px + 3rem)
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-items: center
    .project
      display: inline-block
      width: 85%
      padding: 0 7.5%
  &__control
    position: fixed
    left: 0
    top: 50%
    transform: translateY(-50%)
    z-index: 99
    max-width: 300px
    min-width: 250px
    display: -webkit-flex
    display: -ms-flex
    display: flex
    align-items: center
    flex-direction: column
    flex-wrap: wrap
    padding-left: 3rem
    .instruction
      @include animated-text(.35s, running)
      position: absolute
      left: calc(50% + 6rem)
      bottom: -150px
      font-family: 'MyCoolFont'
      font-size: 25px
      white-space: nowrap
      letter-spacing: 1px
      transform: translateX(-50%)
      &::after
        background-position: 0 0
        opacity: 1
        animation-name: arrow1
      &::before
        background-position: 100% 0
        opacity: 0
        animation-name: arrow2
    .instruction::after, .instruction::before
      content: ''
      display: inline-block
      position: absolute
      top: 0
      left: 50%
      width: calc(82px * 0.9)
      height: calc(136px * 0.9)
      background-image: url('../../assets/images/arrowsprite.png')
      background-repeat: no-repeat
      background-size: auto 100%
      transform: translate(-50%, -100%)
      animation-duration: .25s
      animation-timing-function: linear
      animation-iteration-count: infinite
    &__item
      @include animated-text(.35s)
      font-family: "MyCoolFont"
      position: relative
      display: inline-block
      text-align: center
      vertical-align: middle
      &:nth-child(even)
        margin: 1rem 0
      .border
        display: inline-block
      .border-fill
        display: none
      &:hover
        .border
          display: none
        .border-fill
          display: inline-block
      span
        padding: 1rem 1.5rem
        box-sizing: border-box
        position: relative
        font-size: 35px
        cursor: pointer
        color: black
        display: block
        &:hover
          color: white

.project
  &.animated
    svg
      @include animated-svg(#000)
      opacity: 1

.project
  position: relative
  &__title
    text-align: center
    font-family: 'MyCoolFont3'
    font-size: 35px
    color: black
    text-transform: uppercase
    letter-spacing: 4px
    margin-bottom: 1rem
    cursor: default
  &__description
    text-align: center
    font-family: 'MyCoolFont3'
    font-size: 25px
    color: black
    letter-spacing: 3px
    cursor: default
    &::before
      content: '<<'
      margin-right: 1ch
      display: inline
    &::after
      content: '>>'
      margin-left: 1ch
      display: inline
  &__image
    position: relative
    height: auto
    width: 100%
    &:hover
      img
        opacity: 1
      svg
        opacity: 0
      .clip
        display: block
    img
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      max-width: 100%
      max-height: 100%
      object-fit: contain
      object-position: center
      opacity: 0
      transition: opacity 1s ease-in-out
    svg
      opacity: 0
      transition: opacity 1s ease-in-out
  &:nth-child(odd)
    .clip[clipid="1"]::after
      transform: rotate(-235deg) translate(-54%, 64%) scale(0.4)
      background-position: (114px * 0) 0
    .clip[clipid="2"]::after
      transform: rotate(-150deg) translate(12%, 68%) scale(0.4)
      background-position: (114px * 1) 0
    .clip[clipid="3"]::after
      transform: rotate(-285deg) translate(83%, 52%) scale(0.4)
      background-position: (114px * 2) 0
    .clip[clipid="4"]::after
      transform: rotate(-107deg) translate(-100%, 27%) scale(0.4)
      background-position: (114px * 3) 0
  &:nth-child(even)
    .clip[clipid="1"]::after
      transform: rotate(-197deg) translate(17%, 71%) scale(0.4)
      background-position: (114px * 3) 0
    .clip[clipid="2"]::after
      transform: rotate(-123deg) translate(59%, 65%) scale(0.4)
      background-position: (114px * 0) 0
    .clip[clipid="3"]::after
      transform: rotate(-296deg) translate(70%, 65%) scale(0.4)
      background-position: (114px * 1) 0
    .clip[clipid="4"]::after
      transform: rotate(-70deg) translate(-75%, 60%) scale(0.4)
      background-position: (114px * 2) 0
  &:last-child
    .clip
      &[clipid="3"]
        left: 1rem
        bottom: 1rem
        animation-name: showFromLeft
      &[clipid="4"]
        right: 1rem
        bottom: 1rem
        animation-name: showFromRight
  .clip
    position: absolute
    z-index: 1
    background-repeat: no-repeat
    background-size: auto 100%
    animation-timing-function: ease-in-out
    animation-duration: .5s
    display: none
    &::after
      position: relative
      content: ''
      display: inline-block
      width: 114px
      height: 227px
      background-image: url('../../assets/images/dotsprite.png')
    &[clipid="1"]
      left: 1rem
      top: 1rem
      animation-name: showFromLeftTop
    &[clipid="2"]
      right: 1rem
      top: 1rem
      animation-name: showFromRightTop
    &[clipid="3"]
      left: 1rem
      bottom: 1rem
      animation-name: showFromLeftBottom
    &[clipid="4"]
      right: 1rem
      bottom: 1rem
      animation-name: showFromRightBottom
