@font-face
  font-family: "MyCoolFont"
  src: url(../../assets/fonts/MyCoolFont.otf) format('opentype')
  font-style: normal
  font-weight: normal

@font-face
  font-family: "MyCoolFont2"
  src: url(../../assets/fonts/MyCoolFont2.otf) format('opentype')
  font-style: normal
  font-weight: normal

@font-face
  font-family: "MyCoolFont3"
  src: url(../../assets/fonts/MyCoolFont3.otf) format('opentype')
  font-style: normal
  font-weight: normal
