+b.NAV.navbar
  +e.A.item.link(nohref, pagePath="/frontpage.html")
    span Головна
  +e.A.item.link(nohref, pagePath="/about.html")
    span Про мене
  +e.A.item.link(nohref, pagePath="/projects.html")
    span Проекти
  +e.A.item.link(nohref, pagePath="/frontpage.html")
    span Контакти
