+b.NAV.navbar
  +e.A.item.link(href="/frontpage.html", pagePath="/frontpage.html")
    span Головна
  +e.A.item.link(href="/about.html", pagePath="/about.html")
    span Про мене
  +e.A.item.link(href="/projects.html", pagePath="/projects.html")
    span Проекти
  +e.A.item.link(href="/frontpage.html", pagePath="/frontpage.html")
    span Контакти
