extends layout/default

block vars
  -
    page = {
      language: 'ua',
      name: 'about',
      title: 'About me',
      appTitle: 'About me',
      description: 'Main corporation description page'
    }
block beforeload
  link(rel="stylesheet", href="about.css")
  
block afterload
  script(src="js/about.js")
  
block content
  +b.SECTION.about-me
    +e.image
      img(src="../assets/images/s1200.jpg")
    +e.description
      h2 Ми захоплені створенням цифрових вражень, які впливають.
      p
        |Вирішуючи проблеми з ясністю, простотою і щирістю, ми надаємо 
        strong нашим клієнтам 
        |повернення інвестицій через наші ефективні цифрові підходи.
      p
        |Ми тут, щоб допомогти вам перетворити ваші 
        strong ідеї
        | в 
        strong реальність
        |, вирішення проблем всієї стратегії, проектування та побудови процесів.
      p
        |Ми володіємо широким спектром переданих 
        strong навичок
        |, які дозволяють нам входити в нові галузі і пропонувати нашим клієнтам унікальні підходи до їх завдань.
