extends layout/default

block vars
  -
    page = {
      language: 'ua',
      name: 'about',
      title: 'About me',
      appTitle: 'About me',
      description: 'Main corporation description page'
    }
block beforeload
  link(rel="stylesheet", href="about.css")
  
block afterload
  script(src="js/about.js")
  
block content
  +b.SECTION.about-me
    +e.image
      img(src="../assets/images/s1200.jpg")
    +e.description
      h2 Я захоплений створенням сайтів, які не шаблонні.
      p
        |Вирішуючи проблеми з ясністю, простотою і щирістю, я надаю 
        strong моїм клієнтам 
        |повернення інвестицій через ефективні цифрові підходи.
      p
        |Я тут, щоб допомогти вам перетворити ваші 
        strong ідеї
        | в 
        strong реальність
        |, вирішення проблем всієї стратегії, проектування та побудови процесів.
      p
        |Я володію широким спектром переданих 
        strong навичок
        |, які дозволяють мені входити в нові галузі і пропонувати моїм клієнтам унікальні підходи до їх завдань.
