+b.DIV.social
  a.github(href="https://github.com/Wasya1212", aria-label="my github account", rel="noreferrer", target="_blank")
    +e.I.icon(class="fab fa-github")
  a.facebook(href="https://www.facebook.com/profile.php?id=100022060480910", aria-label="my facebook profile", rel="noreferrer", target="_blank")
    +e.I.icon(class="fab fa-facebook")
  a.linkedin(href="https://www.linkedin.com/in/wasya-uk-940ab9146/", aria-label="my linkedin", rel="noreferrer", target="_blank")
    +e.I.icon(class="fab fa-linkedin")
